h1
{
    color: rgb(255, 0, 0);
}
form{
    border:6px solid rgb(0, 0, 0);
    padding:50px;
    background-color: rgba(255, 225, 0, 0.53);
    height:180;
    width: 400;
    border-radius: 50px;
    box-shadow: 0px 0px 65px rgb(255, 0, 0);
    
}
{
    color:rgb(0, 0, 0);
    font-style:normal;
}
input[type="submit"]
{
background-color: rgb(0, 0, 0);
color:aliceblue